<h1>id: {{myUser?.id}}</h1>
<h1>name: {{myUser?.name}}</h1>
<h1>salary: {{myUser?.salary}}</h1>
<h1>age: {{myUser?.age}}</h1>

<form [formGroup]="updateForm">
    <div>
        <label>Name</label>
        <input type="text" formControlName="name" required>
    </div>
    <div>
        <label>Salary</label>
        <input type="number" formControlName="salary" required>
    </div>
    <div>
        <label>Age</label>
        <input type="number" formControlName="age" required>
    </div>
    <div>
        <button [disabled]="updateForm.status !== 'VALID'" (click)="updateUserInfo()">Update</button>
        <button (click)="popUp()">Delete User</button>
    </div>
</form>

<div class="pop-up" *ngIf="popUpCheck">
    <h4>
        are you sure want to remove user?
    </h4>
    <button (click)="deleteUser()">Delete</button>
    <button (click)="popUp()">Cancel</button>
</div>