<h1>Create new user</h1>

<form [formGroup]="newUserForm">
    <div>
        <label>Name</label>
        <input type="text" formControlName="name" required>
    </div>
    <div>
        <label>Salary</label>
        <input type="number" formControlName="salary" required>
    </div>
    <div>
        <label>Age</label>
        <input type="number" formControlName="age" required>
    </div>
    <div>
        <button [disabled]="newUserForm.status !== 'VALID'" (click)="sendData()" type="reset">Create</button>
    </div>
</form>